body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	background-color: #f4f4f4;
	height: 100vh;
}

.wrapper {
	width: 75%;
	margin: auto;
	padding: 4% 2%;
	background-color: #fff;
	border: 3px dashed black;
	border-radius: 20px;
}

.logo {
	width: 100px;
}

.nav {
	justify-content: center;
}

.homePage {
	display: flex;
}

.leftCol {
	width: 40%;
	/* border-right: 1px dashed black; */
}

.rightCol {
	width: 100%;
	padding: 0% 5%;
}

/* * {
	border: 1px solid black;
} */

.addHowTo,
label {
	width: 100%;
}

.commentsModal {
	border: 1px solid black;
}

.footers {
	border-top: 1px dashed black;
	margin: 1% 0%;
	padding: 1% 0%;
}

.deletes {
	border: 1px solid black;
}
